body{
    background-color: rgb(221, 238, 253);
}

h3{
    color:rgb(44, 70, 113);
    font-family: fantasy;
}


h1{
    color:blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}